<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@1.493">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>7</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.nirima.jenkins.plugins.docker.DockerJobProperty plugin="docker-plugin@0.7">
      <tagOnCompletion>false</tagOnCompletion>
      <additionalTag></additionalTag>
      <pushOnSuccess>false</pushOnSuccess>
      <cleanImages>true</cleanImages>
    </com.nirima.jenkins.plugins.docker.DockerJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>ssh://motech.gerrit@review.motechproject.org:29418/modules</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$branchName</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>true</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <assignedNode>motech-integration-test</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.motechproject</groupId>
    <artifactId>modules</artifactId>
  </rootModule>
  <goals>clean</goals>
  <mavenOpts>-Xms128m -Xmx512m -XX:PermSize=128m -XX:MaxPermSize=512m -Dmaven.test.failure.ignore=false</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <perModuleEmail>false</perModuleEmail>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <settingConfigId></settingConfigId>
  <globalSettingConfigId></globalSettingConfigId>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <hudson.plugins.statusmonitor.MonitorPublisher plugin="statusmonitor@1.3"/>
  </publishers>
  <buildWrappers>
    <hudson.plugins.release.ReleaseWrapper plugin="release@2.3">
      <releaseVersionTemplate>modules $${releaseVersion}</releaseVersionTemplate>
      <doNotKeepLog>false</doNotKeepLog>
      <overrideBuildParameters>false</overrideBuildParameters>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>releaseVersion</name>
          <description>Specify the version of this release.</description>
          <defaultValue>$version</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>developmentVersion</name>
          <description>Specify the next development version after this release.</description>
          <defaultValue>$developmentVersion</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>scm.tag</name>
          <description></description>
          <defaultValue>$scmTag</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
      <preBuildSteps>
        <hudson.tasks.Shell>
          <command>git clean -fdx
git checkout -f $branchName || git checkout -b $branchName
git reset --hard $branchName</command>
        </hudson.tasks.Shell>
      </preBuildSteps>
      <postBuildSteps/>
      <postSuccessfulBuildSteps>
        <hudson.tasks.Shell>
          <command>python tools/version_update.py $${releaseVersion}</command>
        </hudson.tasks.Shell>
        <hudson.tasks.Maven>
          <targets>release:clean release:prepare release:perform</targets>
          <mavenName>(Default)</mavenName>
          <properties>scm.connection=scm:git:ssh://motech.gerrit@review.motechproject.org:29418/modules
scm.developerConnection=scm:git:ssh://motech.gerrit@review.motechproject.org:29418/modules
maven.test.failure.ignore=false</properties>
          <usePrivateRepository>false</usePrivateRepository>
          <settings class="jenkins.mvn.DefaultSettingsProvider"/>
          <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
        </hudson.tasks.Maven>
        <hudson.tasks.Shell>
          <command>python tools/version_update.py $${developmentVersion}</command>
        </hudson.tasks.Shell>
      </postSuccessfulBuildSteps>
      <postFailedBuildSteps/>
    </hudson.plugins.release.ReleaseWrapper>
  </buildWrappers>
  <prebuilders/>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>
