Django==1.5.2
Jinja2==2.7.2
MarkupSafe==0.21
PyYAML==3.10
Pygments==1.6
Sphinx==1.2.2
Twisted==13.1.0
beautifulsoup4==4.3.2
django-tagging==0.3.1
docopt==0.6.1
docutils==0.11
fig==0.3.2
lxml==3.3.5
python-dateutil==2.1
requests==2.2.1
restview==2.0.4
six==1.5.2
texttable==0.8.1
txAMQP==0.6.2
vboxapi==1.0
virtualenv==1.11.4
websocket-client==0.11.0
whisper==0.9.10
wsgiref==0.1.2
zope.interface==4.0.5
